<h1>Friends list</h1>
<h1>Search through users</h1>
<div class="ui">
  <%= form_tag search_friend_path, remote:true, method: :get do  %>
    <div class="search four column">
      <div class="ui icon input wide-element">
        <%= text_field_tag :friend, params[:friend], placeholder: "Username", autofocus: true, class: "four column" %>
        <i class="search icon"></i>
      </div>
    </div>
  <% end %>
  <div id="results"></div>
</div>

<% if @friends.length != 0 %>
  <%= render 'list' %>
<% end %>