<h1>Friends list</h1>
<h1>Search through users</h1>
<div class="ui grid">
  <div class="search four column">
    <div class="ui icon input wide-element">
      <input class="prompt" type="text" placeholder="Search animals...">
      <i class="search icon"></i>
    </div>
    <div class="results"></div>
  </div>
</div>
