@import "semantic-ui";

.chatbox {
  height: 550px;
}

.login{
  max-width: 100px !important;
}

#messages{
  overflow: auto;
  height: 15em;
}

.input{
  button{
    display: none;
  }
}

.mt-2{
  margin-top: 5px;
}

.wrap-content{
  min-width: max-content;
  width: 40%;
  max-width: 60%;
}