@import "semantic-ui";

.chatbox {
  height: 550px;
}

.login{
  max-width: 100px !important;
}

#messages{
  overflow: auto;
  height: 15em;
}

.input{
  button{
    display: none;
  }
}

.mt-2{
  margin-top: 5px;
}

.wrap-content{
  min-width: max-content;
  width: 40%;
  max-width: 60%;
}

.flex {
  display: flex;
}

.ml-auto {
  margin-left: auto!important;
}

.edit_user {
  margin-left: auto !important;
}

.mr-2 {
  margin-right: 10px!important;
}

.label-width {
  min-width: 13em !important;
  margin-left: 5px;
}